<!DOCTYPE html>
<html>

<head>
    <title>Image Text Extraction</title>
    <style>
        .image-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 10px;
        }

        .manga-balloon {
            position: absolute;
            background-color: #FFFF00;
            padding: 5px;
            display: inline-block;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <h1>Image Text Extraction</h1>

    <form id="extractText" method="POST" action="/extract">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" required>

        <label for="language" method="post">Language:</label>
        <select name="language" id="language">
            <option value="chi_sim">Chinese</option>
            <option value="tr">Turkish</option>
            <option value="eng">English</option>
        </select>

        <label for="type" method="post">OCR Türü: </label>
        <select name="type" id="type">

            <option value="6">en iyisi</option>
            <option value="11">ikinci</option>
            <option value="3">ucuncu</option>
            <option value="12">dorduncu</option>
        </select>

        <input type="submit" value="Submit">
    </form>


</body>

</html>